div(role="navigation").navbar.navbar-fixed-top.navbar-material-teal
  .container.container-fluid
    .navbar-header
      button(type="button" data-toggle="collapse" data-target="#nav-menu").navbar-toggle
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="javascript:void(0)").navbar-brand ExpoWatch
    #nav-menu.navbar-collpase
      ul.nav.navbar-nav
        li
          a(href='#') Home 
        li
          a(href='facebook') Facebook Stats
        li
          a(href='twitter') Twitter Stats
        li
          a(href='instagram') Instagram Stats
