header
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  link(rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.1.5/css/material-wfont.min.css")
  link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.5/css/ripples.min.css")
  link(rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.1.5/css/material.min.css")
  link(rel="stylesheet" href="style.css")
body
  include includes/navbar.jade
  .content
    .row
      .col-md-10.social
        div(role="tabpanel")
          ul.nav.nav-tabs(role="tablist").navbar-material-teal
            li(role="presentation").active
              a(href="#facebook_abs" aria-controls="facebook_abs" role="tab" data-toggle="tab") Facebook Absolute
            li(role="presentation")
              a(href="#facebook_delta" aria-controls="facebook_delta" role="tab" data-toggle="tab") Facebook Increment
          .tab-content
            #facebook_abs.tab-pane.active.fade.in(role="tabpanel")
            #facebook_delta.tab-pane.fade(role="tabpanel")


script(src="/javascript/lib/jquery.min.js")
script(src="/javascript/lib/bootstrap.min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.5/js/ripples.min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.5/js/material.min.js")
script(src="/javascript/lib/highcharts.js")
script(src="/javascript/facebook.js")
